.body
    .card 
        .card-body
            .row 
                .col.product-categories{style: "border-right: 1px solid rgba(0,0,0,.125);"}
                    .header.d-flex.justify-content-between 
                        .page-title Product Categories
                        .actions-container.d-flex.justify-content-end
                            .btn.btn-primary.new-btn{url: "/admin/product_category/new?id=#{@seller.id}"}
                                %i.icon-plus
                                Add Category
                    %br/
                    .search-bar 
                        %input{type: "text", placeholder: "Search Seller", class: "form-control"}/
                        %i.icon-search 
                    %table.table-list  
                        %tr 
                            %th Name 
                            %th Action 
                        - @product_categories.each do |pc|
                            %tr 
                                %td= pc.name
                                %td None
                .col.product-sizes
                    .header.d-flex.justify-content-between 
                        .page-title Product Sizes
                        .actions-container.d-flex.justify-content-end
                            .btn.btn-primary.new-btn{url: "/admin/product_size/new?id=#{@seller.id}"}
                                %i.icon-plus
                                Add Size
                    %br/
                    .search-bar 
                        %input{type: "text", placeholder: "Search Seller", class: "form-control"}/
                        %i.icon-search 
                    %table.table-list 
                        %tr 
                            %th Name 
                            %th Action 
                        - @product_sizes.each do |ps|
                            %tr 
                                %td= ps.name
                                %td None