=form_with(url: "/admin/add_on/group", method: :post) do |f|
                = hidden_field_tag :seller_id, @seller.id, {}
                = f.text_field :name, {class: "form-control", placeholder: "Name"}
                %br/
                = f.submit "Create", {class: "btn btn-primary btn-sm"}