.modal-bg
.modal-content
    .card 
        .card-header 
            %h3 Add Group
        .card-body
            =form_with(url: "/admin/add_on_groups", method: :post) do |f|
                = hidden_field_tag :seller_id, @seller.id, {}
                = f.text_field :name, {class: "form-control", placeholder: "Name"}
                %br/
                = f.submit "Create", {class: "btn btn-primary btn-sm"}