 =form_with(url: "/admin/add_on", method: :post) do |f|
    = f.text_field :name, {class: "form-control", placeholder: "Name"}
    %br/
    = f.text_field :price, {class: "form-control", placeholder: "Price"}
    %br/
    = f.collection_select :add_on_group_id, @add_on_groups, :id, :name, {}, {class: "form-select"}
    %br/
    = f.submit "Create", {class: "btn btn-primary btn-sm"}