#category-show 
    .header.d-flex.justify-content-between 
        .page-title Category Page
        .actions-container.d-flex.justify-content-end
            .btn.btn-primary#details
                Details
            .btn.btn-primary#category-deals
                Category Deals
    %br/
    .body
        -# .card 
        -#     .card-header 
        -#         %h3 Add category deal
        -#     .card-body 
        -#         = form_with(url: "/admin/category_deal", method: :post) do |f|
        -#             = hidden_field_tag :category_id, @category.id, {}
        -#             = f.text_field :name, {placeholder: "Name", style: "width:300px;", class: "form-control"}
        -#             %br/
        -#             = f.file_field :image, {class: "form-control", style: "width:300px;"}
        -#             %br/
        -#             = submit_tag "Create", {class: "btn btn-primary btn-sm"}
        -# %br/
        #category-details.details-container 
            = render partial: "/admin/category/partials/category_details"
        -# #category-deals.deals-container 
        -#     = render partial: "/admin/category/partials/category_deals"

        -# %table.table 
        -#     %tr 
        -#         %th{colspan: 3} 
        -#             %h3 Category Deals
        -#     %tr 
        -#         %th Name
        -#         %th Image 
        -#         %th Actions 
        -#     - @category.category_deals.each do |cd|
        -#         %tr 
        -#             %td= cd.name 
        -#             %td
        -#                 - if cd.image.attached?
        -#                     = image_tag cd.image, style: "width: 100px"
        -#                 - else 
        -#                     no image