.header.d-flex.justify-content-between 
    .page-title Seller's Page
    .actions-container.d-flex.justify-content-end
        .btn.btn-primary#details
            Details
        .btn.btn-primary#products
            Products
        .btn.btn-primary#product-category-sizes
            Category & Sizes
        .btn.btn-primary#product-add-ons
            Add Ons
%br/
.body
    #seller-details.seller-details
        = render partial: "/admin/seller/partials/seller_details"
    #seller-products.seller-products    
        = render partial: "/admin/product/partials/list_of_products"
    #seller-category-sizes.seller-category-sizes          
        = render partial: "/admin/product_category/partials/category_sizes"
    #seller-add-ons.seller-add-ons      
        = render partial: "/admin/add_on_groups/partials/add_on_page"
        