// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// navbar
.navbar-container {
    height: 60px;
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        height: inherit;
        .navbar-brand {
            img {
                height: 40px;
            }
        }    
    }
}
// sidebar
.side-bar-container {
    width: 240px;
    .sidebar {
        background-color: #f8f9fa;
        width: inherit;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        bottom: 0;
        right: auto;

        ul {
            li {
                background: none;
            }
        }
    }
}

// body
.body {
    padding: 20px;
}