// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// navbar
.navbar-container {
    height: 60px;
    .navbar {
        position: fixed;
        top: 0;
        left: 240px;
        right: 0;
        z-index: 999;
        height: inherit;
        .navbar-brand {
            img {
                height: 40px;
            }
        }

        .sign-out {
            color: #fff;
            text-decoration: none;
        }
    }
}
// sidebar
.side-bar-container {
    width: 240px;
    
    .sidebar {
        background-color: #f8f9fa;
        width: inherit;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        padding: 20px 0 0 0;
        box-shadow: 1px 1px 8px #888888;

        ul {
            li {
                background: none;
            }
        }

        .profile-details {
            margin-bottom: 20px;

            .profile-pic {
                width: 100px;
                height: 100px;
                margin: auto;
    
                img {
                    width: inherit;
                    height: inherit;
                    border-radius: 50%;
                    border: 2px solid rgb(78, 78, 78);
                }
            }

            .profile-name, .profile-role {
                width: 150px;
                margin: auto;
                text-align: center;
                margin-top: 10px;
            }

            .profile-role h4 {
                font-size: 14px;
            }

            hr {
                width: 75%;
                margin: auto;
            }
        }

        .menu-container {
            width: 170px;
            margin: auto;

            .menu-name {
                font-size: 13px;
                font-weight: bold;
                width: fit-content;
                margin: auto;
                margin-bottom: 10px;
            }

            .menu-item {
                margin-bottom: 10px;
                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }
}

// application body
.app-body {
    padding: 20px;
}

// header
.header {
    padding: 0 40px;
    .page-title {
        font-size: 25px;
        font-weight: bold;
    }

    .actions-container {
        .btn {
            margin: 0 5px;
        }
    }
}

.btn {
    border-radius: 30px !important;
}

.body {
    padding: 0 40px;

    .table-list {
        width: 100%;
    
        tr:nth-child(1) {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            height: 40px;
        }

        td {
            height: 60px;
            img {
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
            .show-btn {
                width: 35px;
                height: 35px;
                padding: 0;
                border-radius: 50%;
                
                i {
                    line-height: 32px;
                }
            }
        }
    }

    .table-details {
        margin: auto;
        tr {
            border-bottom: 1px solid rgb(122, 122, 122);
            th {
                text-align: right;
                padding-right: 5px;
            }
            
            td {
                padding-left: 10px;
            }
        }
    }

    .search-bar {
        width: 300px;
        position: relative;
        input {
            border-radius: 30px;
        }

        .icon-search {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 20px;
        }
    }

    .table-title {
        font-size: 20px;
        font-weight: bold;
    }
}

.modal-bg {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.modal-content {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
    height: 80vh;
    z-index: 999999;
    background: white !important;
    border: none !important;

    .expanded-image {
        width: 60vw;
        height: inherit;
        object-fit: contain;
    }
    
    .card {
        width: fit-content;
        margin: auto;
        max-height: 80vh;
        overflow-y: scroll;
    }
}