// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-details {
    .card {
        width: fit-content;
        margin: auto;
        
        .image-container {
            width: 200px;
            height: 200px;
    
            img {
                width: inherit;
                height: inherit;
                border-radius: 20px;
            }
        }
    }
}