#admin-index
    .header.d-flex.justify-content-between 
        .page-title Home Page
    %br/
    .body
        .card 
            .card-header 
                %h3 Checkout Sellers
            .card-body
                %table.table-list 
                    %tr 
                        %th Checkout Seller Id
                        %th Enqueued Time
                        %th Action
                    - @checkout_sellers.each do |cs|
                        %tr 
                            %td= cs.id
                            %td= cs.enqueued_time
                            %td 
                                .show-btn.btn.btn-secondary.refind-avail-rider-btn{cs_id: cs.id}
                                    %i.icon-eye-open 