%nav.navbar.navbar-dark.bg-dark 
    .container-fluid
        %a.navbar-brand{href: "#"}
            = image_tag asset_path 'logo.png', type: '', alt: '', height: '24', width: '30', class: '"d-inline-block align-text-top'
            LandGo