.side-bar-container
    .sidebar
        .profile-details
            .profile-pic
                = image_tag asset_path("no-photo.jpg")
            .profile-name 
                %h4 John Doe
            .profile-role 
                %h4 Super Administrator
            %hr/
        .menu-container
            .menu-name MENU 
            .menu-item
                %a{href: "/admin"} Home 
            .menu-item
                %a{href: "/admin/category"} Category  
            .menu-item
                %a{href: "/admin/seller"} Seller 
            .menu-item
                %a{href: "/admin/vouchers"} Vouchers 
            .menu-item
                %a{href: "/admin/buyers"} Users 
